@font-face {
    font-family: letramolona;
    src: url(fonts/EncodeSans-SemiBold.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    background-color: #383838;
}
.section-center{
    display: flex;
    justify-content: center;
}
.section-center img{
    padding-top: 30px;
    width: 180px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #353638;
}
.search{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search i{
    font-size: 25px;
    color: #8682a0;
}
.search-txt{
    padding: 12px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9f28ef;
}
.search-txt i{
font-size: 40px;
color: #f8010A;
}
.search-txt h2{
    color: #eae8f9;
    /*font-size: 30px;*/
}

h2{
    font-family: letramolona;
    color: #737082;
    font-size: 30px;
    text-align: center;
    margin: 20px;
}
.movies{
    padding: 50px 0 150px 0;
}
.movies h2{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}
.swiper{
width: 100%;
}
.swiper-slide{
background-position: center;
background-size: cover;
width: 330px;
}
.swiper-slide img{
    display: block;
    width: 100%;
}
.icons{
    padding: 0 350px 50px 350px;
    display: flex;
    justify-content: space-between;
}
.icons i{
    font-size: 25px;
    color: #111111;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons i:hover{
    color: #f8010A;
    background-color: #fefefe;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    cursor: pointer;
}
#whatsappicono
{
z-index: 100;
position:fixed;
bottom:15px;
left:15px;
width: 50px;
height: 50px;
border-radius: 50%;
animation: pulso-whatsapp 1.2s infinite;
}
@keyframes pulso-whatsapp {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(79, 184, 76, 0.7);
	}
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 30px rgba(79, 184, 76, 0);
	}
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(79, 184, 76, 0);
	}
}

@media (max-width:991px) {
    body{
        min-height: 0vh;
    }
    .search{
        padding: 30px 30px 0 30px;
    }
    .movies{padding: 30px;}
    .icons{padding: 30px;}
    .swiper-slide{
        background-position: center;
        background-size: cover;
        width: 220px;
        }
        h2{
            font-family: letramolona;
            color: #aba6cb;
            font-size: 20px;
        }
}
/*Estilos para el formulario*/
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos cabecera */
.header {
    display: flex;
    border-radius: 10px;
    color: white;
}

.brand-info {
    background-color: #8329F2;
    border-radius: 10px;
    max-width: 65%;
    padding: 20px;
    margin-right: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

/* Estilo del logo */
.brand-info img {
    max-width: 7rem;
}

/* Estilo de la información de la empresa */
.company-info {
    text-align: center;
}

/* Estilo de la información de contacto */
.company-info p {
    margin: 5px 0;
}

/* Estilo de la sección de Proforma */
.proforma-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
}

.proforma-square {
    background-color: #8329F2;
    border-radius: 10px;
    max-width: 60vw;
    padding: 20px;
    padding: 1px 10px 20px 10px;
    border-radius: 10px;
    text-align: center;
}

.proforma-square h2 {
    color: #ffffff
        /* Mismo color que el fondo del header */
}

/* Estilo del número de proforma */
.proforma-number input {
    outline: none;
    text-align: center;
    background-color: transparent;
    color: #ffffff;
    font-size: inherit;
    width: 100px;
}

/* Estilo del campo de fecha */
.proforma-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    color: #8329F2;
}

.info-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.info-section__senior {
    display: flex;
    flex: 1 1 100%;
    gap: 10px;
}

.info-section__senior-firstChild {
    display: flex;
    flex: 0 1 12%;
}

.info-section__senior-lastChild{
    display: flex;
    flex-grow: 1;

}

.info-section__senior-lastChild input {
    flex-grow: 1;
}

.info-section__add-phone {
    display: flex;
    flex: 1 1 100%;
    gap: 10px;
}
.info-section__add-phone-firstChild {
    display: flex;
    flex: 0 1 12%;
}
.info-section__add-phone-secondtChild {
    display: flex;
    flex-grow: 1;
}
.info-section__add-phone-secondtChild input {
    flex-grow: 1;
}

.info-section__add-phone-thirdChild {
    display: flex;
}
.info-section__add-phone-lastChild {
    display: flex;
    flex-grow: 0;
}
.info-section__add-phone-lastChild input {
    flex-grow: 0;
}

/* Estilos específicos para productos */
.product-header,
.product-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.product-header label {
    flex: 1;
    min-width: 100px;
    margin-right: 10px;
}

.product-row select,
.product-row input {
    flex: 1;
    min-width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-row input#quantity1 {
    min-width: 50px;
}

.product-row select {
    min-width: 120px;
}

.product-row input#unitPrice1,
.product-row input#amount1 {
    min-width: 120px;
}

/* Estilos para el botón "Agregar Producto" */
.add-product-button {
    background: linear-gradient(to bottom, #8329F2 0%, #6C18D3 100%);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.add-product-button:hover {
    background: linear-gradient(to bottom, #6C18D3 0%, #8329F2 100%);
}