@font-face {
    font-family: letramolona-regularExp;
    src: url(fonts/EncodeSans_SemiExpanded-Regular.ttf);
}
@font-face {
    font-family: letramolona-medium;
    src: url(fonts/EncodeSans_SemiExpanded-Medium.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: letramolona-regularExp, Arial, Helvetica, sans-serif;
    font-weight: 200;
}

a {
    color: #30F23A;
    /* Color principal de la empresa */
    text-decoration: none;
    /* Quita el subrayado por defecto */
    background-color: #383838;
    /* Color de fondo */
    padding: 5px 10px;
    /* Espacio alrededor del texto del enlace */
    margin-bottom: 15px;
    border-radius: 5px;
    /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s;
    /* Transición suave de colores */
}

a:hover {
    background-color: #30F23A;
    /* Cambia el color de fondo al pasar el ratón por encima */
    color: #383838;
    /* Cambia el color del texto al pasar el ratón por encima */
}

body {
    height: 100vh;
    background-color: #383838;
}

.section-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.section-center img {
    padding-top: 30px;
    width: 180px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #353638;
}

.search {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search i {
    font-size: 25px;
    color: #8682a0;
}

.search-txt {
    padding: 2px 12px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #30F23A;
}

.search-txt i {
    font-size: 40px;
    color: #f8010A;
}

.search-txt h2 {
    color: #eae8f9;
    /*font-size: 30px;*/
}

h2 {
    font-family: letramolona-medium;
    color: #353638;
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

.movies {
    padding: 50px 0 150px 0;
}

.movies h2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 330px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.icons {
    padding: 0 350px 50px 350px;
    display: flex;
    justify-content: space-between;
}

.icons i {
    font-size: 25px;
    color: #111111;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons i:hover {
    color: #f8010A;
    background-color: #fefefe;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#whatsappicono {
    z-index: 100;
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: pulso-whatsapp 1.2s infinite;
}

@keyframes pulso-whatsapp {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(79, 184, 76, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 30px rgba(79, 184, 76, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(79, 184, 76, 0);
    }
}

@media (max-width:991px) {
    body {
        min-height: 0vh;
    }

    .search {
        padding: 30px 30px 0 30px;
    }

    .movies {
        padding: 30px;
    }

    .icons {
        padding: 30px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 220px;
    }

    h2 {
        font-family: letramolona-medium;
        color: #353638;
        font-size: 1.7rem;
    }
}

/*Estilos para el formulario*/
/* Estilos generales */

.button-front svg {
    fill: #353638;
    width: 1rem;
}

.container-proforma {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f8f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input[type="text"],
input[type="number"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos cabecera */
.header {
    display: flex;
    border-radius: 10px;
    color: white;
}

.brand-info {
    background-color: #30F23A;
    border-radius: 10px;
    max-width: 70%;
    padding: 20px;
    margin-right: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.brand-places{
    padding: 0.2rem;
    color: #30F23A;
    background: #353638;
    border-radius: 4px
}
/* Estilo del logo */
.brand-info svg {
    max-width: 7rem;
    fill: #353638;
}

/* Estilo de la información de la empresa */
.company-info {
    text-align: center;
    color: #353638;
}

/* Estilo de la información de contacto */
.company-info p {
    margin: 5px 0;
}

/* Estilo de la sección de Proforma */
.proforma-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 29%;
}

.proforma-square {
    background-color: #30F23A;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    border-radius: 10px;
    text-align: center;
}


/* Estilo del número de proforma */
.proforma-number input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button  {
    appearance: none;
}
.proforma-number input[type=number] {
    text-align: center;
    color: #353638;
    max-width: 100%;
    appearance: textfield;
}


/* Estilo del campo de fecha */
.proforma-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    color: #383838;
}

.info-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.info-section__senior {
    display: flex;
    flex: 1 1 100%;
    gap: 10px;
}

.info-section__senior-firstChild {
    display: flex;
    flex: 0 1 12%;
}

.info-section__senior-lastChild {
    display: flex;
    flex-grow: 1;

}

.info-section__senior-lastChild input {
    flex-grow: 1;
}

.info-section__add-phone {
    display: flex;
    flex: 1 1 100%;
    gap: 10px;
}

.info-section__add-phone-firstChild {
    display: flex;
    flex: 0 1 12%;
}

.info-section__add-phone-secondtChild {
    display: flex;
    flex-grow: 1;
}

.info-section__add-phone-secondtChild input {
    flex-grow: 1;
}

.info-section__add-phone-thirdChild {
    display: flex;
}

.info-section__add-phone-lastChild {
    display: flex;
    flex-grow: 0;
}

.info-section__add-phone-lastChild input {
    flex-grow: 0;
}

.summary-section{
    display: flex;
    gap: 1rem;
}
/* Estilos específicos para productos */
.product-header,
.product-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    align-items: center;
}

.product-header label {
    flex: 1;
    min-width: 100px;
    margin-right: 10px;
}

.product-row select,
.product-row input {
    flex: 1;
    min-width: 3rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para el botón "Agregar Producto" */

.buttons-actions {
    display: flex;
    gap: 0.5rem;
}

.button-front {
    background: linear-gradient(to bottom, #30F23A 0%, #06C706 100%);
    border: none;
    color: #353638;
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    font-family: letramolona-medium;
}

.button-front:hover {
    background: linear-gradient(to bottom, #06C706 0%, #30F23A 100%);
}
#enviarCliente{
    margin-bottom: 2rem;
}

@media print {
    .only-screen {
        display: none;
    }
}
/*TextArea*/

#comentario {
    /* Propiedades generales */
    width: 100%;
    height: 150px;
    padding: 15px;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    font-family: letramolona-medium,Arial, Helvetica, sans-serif sans-serif;
    font-size: 16px;
    resize: none;
  
    /* Propiedades para el borde */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
  
    /* Propiedades para el focus */
    &:focus {
      border-color: #999;
      outline: none;
    }
  
    /* Propiedades para el placeholder */
    &::placeholder {
      color: #ccc;
      font-weight: lighter;
    }
  }