@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

a {
    text-decoration: none;
    color: #369FFF;
}

i {
    font-size: 1.3rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    height: 100vh;
    
}

.container .left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.container .left-section .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container .left-section .logo img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.container .left-section .logo a {
    font-weight: 800;
    font-size: 1.2rem;
    color: #006ED3;
}

.menu-btn {
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #d1e6f9;
    border-radius: 6px;
    cursor: pointer;
    display: none;
}

.container .left-section .sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .left-section .sidebar .item {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.container .left-section .sidebar i{
    color: #bdbdbd;
    transition: all 0.3s ease;
}

.container .left-section .sidebar a{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 0.9rem;
    color: #bdbdbd;
    position: relative;
    transition: all 0.3s ease;
}

.container .left-section .sidebar .item#active a,
.container .left-section .sidebar .item#active i,
.container .left-section .upgrade .link i{
color: #369FFF;

}
    
.container .left-section .sidebar .item a::after{
position: absolute;
content: '';
width: 0;
height: 0;
background-color: #369FFF;
right: -30px;
border-radius: 50%;
top: 0;
transform: translateY(100%);
transition: all 0.3s ease;
}

.container .left-section .sidebar .item#active a::after{
    width: 8px;
    height: 8px;
}

.container .left-section .pic img {
    width: 100px;
}